name: Unified Targets Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-arm-none-eabi
          python3 -m pip install --upgrade pip
          pip install scons

      - name: Build unified target
        run: |
          make unified-target CONFIGFILE=configs/default/HGLRC_ZEUSF722_AIO.config

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: betaflight_custom_hex
          path: ./obj/*.hex
